<div class="center hero-unit">
<h1>About Me</h1>
<div id="about">
	<table>
	<col style="width:20%">
	<col style="width:80%">
		<tr>
			<td>
				<%= image_tag("monica.png", size:"200x200", alt:"Monica", id:"bio") %>
			</td>
			<td>
				<p>
					A Southern California native with a soft spot for Chicago. I graduated from The University of Southern California with a Bachelors of Arts in Psychology with an emphasis in Behavioral Neuroscience in 2011 and moved to Chicago to complete my Masters of Science in Software Engineering at Loyola University of Chicago in 2013. 
				<p>
					I am a humanitarian with professional experience in user experience research and engineering, project management (technical and non technical), information architecture, web development (java, ruby, rails, HTML/CSS, php, SQL, python), software development, android development, data analysis, scholar level writing and editing. I love working with people and turning ideas into reality. 
				<p>
					I've been a practicing yogini since 2010 and blessed with Coco, the worlds most perfect dog since 2008. I'm an avid travel junkie my list includes countries throughout Asia, Europe, and the Middle East. Always up for an adventure and a trip to anywhere. 
				<p>
					Take a look at my <%= link_to "resume", 'Monica-Sharma_Resume.pdf' %>, <%= link_to "portfolio", portfolio_path %>, and say <a href="mailto:monica@monicasharma.me">hello!</a>


				</p>
			</td>
		</tr>
	</table>
</div>
</div>