<div class="center hero-unit">
<h1>Get In Touch With Me!</h1>
<p>
	You can find me on skype! <strong>m0nicasharma</strong><br>
	I also love receiving happy <a href="mailto:monica@monicasharma.me">emails</a><br>
</p>


</div>