<div class="center hero-unit">


<h1>Get In Touch With Me!</h1>
<p>
	You can find me on skype! <strong>m0nicasharma</strong><br>
	I also love receiving happy <a href="mailto:monica@monicasharma.me">emails</a><br>
</p>

<div class="contact">
<p>
	Or send me a message!<br> 

	<!-- Do not change the code! -->
<a id="foxyform_embed_link_422087" href="#"></a>
<script type="text/javascript">
(function(d, t){
   var g = d.createElement(t),
       s = d.getElementsByTagName(t)[0];
   g.src = "http://www.foxyform.com/js.php?id=422087&sec_hash=5fcd68b85d1&width=350px";
   s.parentNode.insertBefore(g, s);
}(document, "script"));
</script>
<!-- Do not change the code! -->
</p>
</div>
</div>