<div class="center hero-unit">
<h1>Monica Sharma</h1>
<h2>
	Hey there...
</h2>
<p>My name is Monica Sharma and I'm a User Experience Engineer, Information Architect, Developer, Project Manager, and Yogini. I love people, and using data to transform behavior into aesthetically pleasing user-centered design. Explore and drop me a line if you think we would work well and get along!</p>
</div> 