<div class="center hero-unit">
<h1>Monica Sharma</h1>
<div class="row">
	
		<p>
		<%= link_to image_tag("gh.png", size:"50x50"), 'http://www.github/monicasharma1053', target:'_blank' %>
		<%= link_to image_tag("twitter.png", size:"52x50"), 'http://www.twitter.com/monicasharma', target:'_blank' %>
		
		<p>
			<%= link_to image_tag("li.png", size:"48x49"), 'http://www.linkedin.com/in/sharmamonica', target:'_blank' %>
			<%= link_to image_tag("email2.png", size:"55x50"), '#', target:'_blank' %>
		</p>
	
</div>
<h2>
	Hey there...
</h2>
<p>My name is Monica Sharma and I'm a User Experience Engineer, Information Architect, Developer, Project Manager, and Yogini. I love people, and using data to transform behavior into aesthetically pleasing user-centered design. Explore and <strong><a href="mailto:monica@monicasharma.me">drop me a line</a></strong> if you think we would work well and get along!</p>
</div> 