@import "bootstrap";



html {
  overflow-y: scroll;
}

body {
  background: url('pattern.png');
  font-family: 'Lekton', Helvetica, Arial, sans-serif;
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  background-color: white;
  text-align: center;
}

.center h1 {
  font-family: 'Lekton', Helvetica, Arial, sans-serif;
  color: #617F8A;
  margin-bottom: 10px;
}








/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}





/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-family: 'Lekton', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 25px;
  
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;

}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
	color:#DF3BC1;
}

#menu {
	color:#DF3BC1;
}

nav ul li a {
	color:#DF3BC1;
}

nav ul li a:hover { 
  background: #617F8A; 
}












/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: white;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}